@model DepartmentViewModel

@{
    ViewData["Title"] = "Edit Department";
}

<h1>Edit Department</h1>

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Edit" method="post" class="needs-validation">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Id"/>
            <div class="mb-3">
                <label asp-for="DepartmentName" class="form-label">Department Name</label>
                <input asp-for="DepartmentName" class="form-control" />
                <span asp-validation-for="DepartmentName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Update" class="btn btn-secondary" />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
