@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var userModuleAccess = Context.Session.GetString("usermoduleaccess");
    var userAccess = !string.IsNullOrEmpty(userModuleAccess) ? userModuleAccess.Split(',') : new string[0];

    var userrole = Context.Session.GetString("userrole")?.ToLower();

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Document Management System</title>
    @*  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link href="~/F O S.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DocumentManagement.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg" data-bs-theme="dark" style="background-color:#00008B;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">D M S</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        @if (userrole == "admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Index">Users</a>
                            </li>
                        }
                        @if (userrole == "admin" || userAccess.Any(module => module.Trim() == "DMS"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Document Management</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Dms" asp-action="UploadFile">Upload File</a>
                                    <a class="dropdown-item" asp-controller="Dms" asp-action="DownloadFile">Download File</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="Dms" asp-action="Index">Uploaded Files</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Report" asp-action="ActivityReportForm">Activity Report</a>
                            </li>
                        }

                        @if (userrole == "admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Logs" asp-action="Index">Logs</a>
                            </li>
                        }
                    </ul>
                    @if (!string.IsNullOrEmpty(userrole))
                    {
                        <form class="d-flex" asp-controller="Dms" asp-action="GeneralSearch">
                            <input name="search" class="form-control me-sm-2" type="search" placeholder="Search">
                            <button class="btn btn-secondary my-2 my-sm-0 rounded" type="submit">Search</button>
                        </form>
                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="py-3">
            <input type="hidden" id="hfUsername" value="@HttpContextAccessor.HttpContext?.Session.GetString("username")" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - DMS v2.4.0 - <a asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Add this link in your HTML to include SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>