@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var userFirstName = Context.Session.GetString("userfirstname");
}


@if (!string.IsNullOrEmpty(userFirstName))
{
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hello @HttpContextAccessor.HttpContext?.Session.GetString("userfirstname")</a>
            <div class="dropdown-menu">
                <a id="manage" class="dropdown-item" asp-controller="Account" asp-action="ChangePassword" title="Manage">Account</a>
                <a href="javascript:void(0);" class="dropdown-item" onclick="confirmLogout()">Logout</a>
            </div>
        </li>
    </ul>
}


<script>

    function confirmLogout() {
        Swal.fire({
            title: 'Are you sure?',
            text: "You want to logout!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "@Url.Action("Logout", "Account")";
            }
        })
    }

</script>
