@{
    var username = Context.Session.GetString("username");
}

<ul class="navbar-nav">
@if (!string.IsNullOrEmpty(username))
{
    <li class="nav-item">
        <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @username!</a>
    </li>
    <li class="nav-item">
        <a href="javascript:void(0);" class="nav-link" onclick="confirmLogout()">Logout</a>
    </li>
}
</ul>

<script>
    function confirmLogout() {
        if (confirm("Are you sure you want to log out?")) {
            window.location.href = "@Url.Action("Logout", "Account")";
        }
    }
</script>
