@model Document_Management.Models.Register

@{
    ViewData["Title"] = "Change Password";
}

<partial name="_Notification">

<h1>Change Password</h1>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="ChangePassword" class="needs-validation">
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control"  />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Update" class="btn btn-outline-primary rounded" />
                <a asp-action="Index" class="btn btn-outline-primary rounded">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
