@model ActivityReportViewModel

@{
    ViewData["Title"] = "Activity Report";
    var today = DateTime.Today.ToString("yyyy-MM-dd");
}

<h2><b>FILE UPLOAD REPORT FORM</b></h2>
<hr />

<div class="row">
    <div class="col">
        <form asp-action="GenerateFileUploadReport" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3 col-6">
                <label asp-for="DateFrom" class="form-label">Date From</label>
                <input asp-for="DateFrom" type="date" class="form-control" id="dateFrom" value="@today" />
                <span asp-validation-for="DateFrom" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="DateTo" class="form-label">Date To</label>
                <input asp-for="DateTo" type="date" class="form-control" id="dateTo" value="@today" />
                <span asp-validation-for="DateTo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Generate Report" class="btn btn-secondary" />
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Home</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<script>
    $(document).ready(function () {
        $('#dateFrom').change(function () {
            let dateFromValue = $(this).val();
            $('#dateTo').val(dateFromValue);
        });

        $('form').submit(function (e) {
            let dateFrom = new Date($('#dateFrom').val());
            let dateTo = new Date($('#dateTo').val());

            if (dateFrom > dateTo) {
                e.preventDefault();
                alert('Date From should not be greater than Date To.');
            }
        });
    });
</script>
}
