@{
    var username = Context.Session.GetString("username");
}

@{
    ViewData["Title"] = "Filpride Document Management System";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to Filpride DMS</h1>
        <p class="lead text-muted">
            Your secure and efficient Document Management System.
        </p>
        @if (string.IsNullOrEmpty(username))
        {
            <p>
                <a class="btn btn-primary rounded my-2" asp-controller="Account" asp-action="Login">Login to access your documents</a>
            </p>
        }
        else
        {
            <p>
                Welcome back, @username! Start managing your documents now.
            </p>
            <div>
                <a class="btn btn-success" asp-controller="Dms" asp-action="UploadFile">Upload File</a>
                <a class="btn btn-info" asp-controller="Dms" asp-action="DownloadFile">Download File</a>
            </div>
        }
    </div>
</section>
