@{
    ViewData["Title"] = "Access Denied";
}
<h1>@ViewData["Title"]</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

