@model CompanyViewModel

@{
    ViewData["Title"] = "Create Company";
}

<h1>Create Company</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col">
            <form asp-action="Create" method="post" class="needs-validation">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="CompanyName" class="form-label">Company Name</label>
                <input asp-for="CompanyName" value="" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-secondary" />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
