html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@page {
    margin: 0;
}

/* Change the hover and active color for select2 options */
.select2-container--default .select2-results__option--highlighted[aria-selected]:hover,
.select2-container--default .select2-results__option--highlighted[aria-selected]:active {
    background-color: #1a1a1a; /* Change the hover and active background color to gray */
    color: white; /* Change the text color on hover and active (if needed) */
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #1a1a1a !important;
    color: white !important;
}