@model Document_Management.Models.RequestGP

@{
    ViewData["Title"] = "Request Gatepass";
    int randomGatepassId = new Random().Next(10000, 100000);
}

<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>
    <form asp-action="Insert">
       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <div class="col">
                <input asp-for="GatepassId" type="hidden" class="form-control" value="@randomGatepassId" />
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Full Name</label>
            <div class="row">
                <div class="col">
                    <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name" />               
                </div>
                <div class="col">
                    <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name" />
                </div>
                <div class="col">
                    <input asp-for="MiddleName" type="text" class="form-control" placeholder="Middle Name" />
                </div>
            </div>
        </div>

        @* <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter your email">
        </div> *@

        <div class="mb-3">
            <label asp-for="Area" class="form-label"></label>
            <input asp-for="Area" type="text" class="form-control" placeholder="Area" />
        </div>

        <div class="mb-3">
            <label asp-for="Contact" class="form-label"></label>
            <input asp-for="Contact" type="number" class="form-control" id="myInput" onclick="limitInputLength(this, 10)" placeholder="Contact Number +63" />
        </div>

        @* <div class="mb-3">
            <label asp-for="ScheduleDate" class="form-label"></label>
            <input asp-for="ScheduleDate" type="datetime-local" class="form-control" />
        </div> *@

        @* <div class="mb-3">
            <label asp-for="Purpose" class="form-label"></label>
            <textarea asp-for="Purpose" class="form-control" rows="10" placeholder="Enter your purpose"></textarea>
        </div> *@

        <div class="mb-3">
            <label class="form-label">Inform to bring out of the Premises the following items:</label>
            <textarea asp-for="Items" class="form-control" rows="10" placeholder="Enter items"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
@section Scripts{
    <script>
function limitInputLength(input, maxLength) {
  var currentLength = input.value.length;
  var maxLength = maxLength || 10;

  if (currentLength > maxLength) {
    input.value = input.value.substring(0, maxLength);
  }
}

// Example usage
var input = document.getElementById("myInput");

input.addEventListener("keyup", function() {
  limitInputLength(input, 10);
});
</script>
}