@{
    ViewData["Title"] = "Request Gatepass";
}

@* <table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td></td>
            <td>twitter</td>
        </tr>
    </tbody>
</table> *@



<input type="text" name="Id" id="" placeholder="Id" /> 

<input type="text" name="Fname" id="" placeholder="First Name" />

<input type="text" name="Mname" id="" placeholder="Middle Name" />

<input type="text" name="Lname" id="" placeholder="Last Name" />

<input type="number" name="Contact" id="" placeholder="Contact" />

<input type="text" name="DateTime" id="" placeholder="Date & Time" /> 

<input type="text" name="Purpose" id="" placeholder="Purpose" />

<input type="text" name="Reason" id="" placeholder="Reason" />



<div class="container mt-5">
    <h1>Fill-Up Form</h1>
    <form>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email">
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" rows="4" placeholder="Enter your message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!-- Include Bootstrap JavaScript and jQuery (optional) from a CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.bundle.min.js"></script>
