@model DocumentManagement.Models.RequestGatepassForm

@{
    ViewData["Title"] = "Request Gatepass";
}

<div class="container mt-5">
    <h1>Gatepass Form</h1>
    <form>
        <div class="mb-3">
            <label for="id" class="form-label">ID No.</label>
            <div class="col col-lg-4">
            <input type="number" name="id" class="form-control" id="id" placeholder="Your ID No." />
        </div>
        </div>

        <div class="mb-3">
            <label for="fullname" class="form-label">Full Name</label>
            <div class="row">
                <div class="col">
                    <input asp-for="LastName" type="text" name="lname" class="form-control" id="lname" placeholder="Last Name" />
                </div>
                <div class="col">
                    <input asp-for="FirstName" type="text" name="fname" class="form-control" id="fname" placeholder="First Name" />
                </div>
                <div class="col">
                    <input asp-for="MiddleName" type="text" name="mname" class="form-control" id="mname" placeholder="Middle Name" />
                </div>
                </div> 
        </div>

        @* <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email">
        </div> *@
       
        <div class="mb-3">
            <label asp-for="Contact" for="contact" class="form-label">Contact</label>
            <input asp-for="Contact" type="number" name="number" class="form-control" id="" placeholder="Contact Number ex. 09..." />
        </div>

        <div class="mb-3">
            <label asp-for="ScheduleDate" for="date" class="form-label">Schedule date</label>
            <input asp-for="ScheduleDate" type="datetime-local" name="number" class="form-control" id="" placeholder="Contact Number ex. 09..." />
        </div>

        <div class="mb-3">
            <label asp-for="Purpose" for="purpose" class="form-label">Purpose</label>
            <textarea asp-for="Purpose" class="form-control" id="purpose" rows="4" placeholder="Enter your purpose"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
