@model List<LogsModel>

@{
    ViewData["Title"] = "Logs";
}

<div class="table-responsive">
    <table id="myTableNoSort" class="table table-hover">
        <thead>
            <tr>
                <th>Username</th>
                <th>Activity</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var logs in Model)
            {
                <tr>
                    <td>@logs.Username</td>
                    <td>@logs.Activity</td>
                    <td>@logs.Date</td>
                </tr>
            }
        </tbody>
    </table>
</div>

