@model Document_Management.Models.FileDocument;

@{
    ViewData["Title"] = "Upload";
}

<partial name="_Notification" />

<h1>Upload File</h1>
<hr />

<div class="container mt-5">
    <form asp-action="UploadFile" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
        <div class="mb-3">
            <label asp-for="Name" class="control-label"></label>
            <div class="col">
                <input name="file" type="file" class="form-control" accept=".pdf"/>
                <span asp-validation-for="Name" class="text-danger"></span>
                <small class="text-muted">Maximum file size allowed: 5MB</small> <!-- Reminder message -->
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="Department" class="control-label"></label>
            <div class="col">
                <select asp-for="Department" class="form-control">
                    <option selected disabled value="">Choose the department to which this file should be assigned.</option>
                    <option value="Accounting">Accounting</option>
                    <option value="MIS">MIS</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Finance">Finance</option>
                </select>
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <div class="col">
                <textarea asp-for="Description" class="form-control" rows="5" placeholder="Enter some words or keywords that will help us find the file later."></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary rounded">Upload</button>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const fileInput = document.querySelector('input[type="file"]');
            const form = document.querySelector('form');

            form.addEventListener("submit", function (event) {
                const maxFileSize = 5 * 1024 * 1024; // 5MB in bytes

                if (fileInput.files.length > 0) {
                    const fileSize = fileInput.files[0].size;

                    if (fileSize > maxFileSize) {
                        event.preventDefault();
                        Swal.fire(
                            'Opps',
                            'File size exceeds the maximum limit of 5MB.!',
                            'error'
                        )
                    }
                }
            });
        });
    </script>

}
